.App {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

body {
  background-color: #4abdac;
}
h1 {
  margin: 25px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: #fff;
  font-family: "Dosis", sans-serif;
}

h4 {
  margin: 25px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: #fff;
  font-family: "Dosis", sans-serif;
}

h5 {
  margin: 25px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: #fff;
  font-family: "Dosis", sans-serif;
}

img {
  margin: 25px;
}

/* COLORS 

#4abdac
#fc4a1a
#f3b733
#dfdce3
#fffff3;
*/
