.App {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

body {
  background-color: #4abdacc1;
}
h1 {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: #fff;
  font-family: "Dosis", sans-serif;
}

h4 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: #fff;
  font-family: "Dosis", sans-serif;
}

h5 {
  margin: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  color: #fff;
  font-family: "Dosis", sans-serif;
}

img {
  margin: 25px;
}

select {
  border-radius: 6px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0px auto;
}

button {
  margin: 15px;
}

.table-container {
  display: flex;
  align-items: center;
}

.table-header {
  font-size: 25px;
  font-weight: bold;
  background-color: #fc4a1a;
}

.thead {
  font-size: larger;
}

.user1-dropdown {
  margin: 10px;
  font-size: larger;
  text-align: center;
}

.user2-dropdown {
  margin: 10px;
  font-size: larger;
  text-align: center;
}

.task-dropdown {
  margin: 10px;
  font-size: larger;
  text-align: center;
}

.table-light {
  font-size: larger;
}

#message {
  font-size: large;
  font-weight: bolder;
  color: black;
  font-style: oblique;
}

/* COLORS 

#4abdac
#fc4a1a
#f3b733
#dfdce3
#fffff3;
*/
